:root {
  --mainbg: #fff;
  --maincl: #161616;
  --hover_cl: #98f2f7;
  --dimcl: #ffffffa1;
  --dimsmain: #6a6a6a3f;
  --maindim: #494949;
  /* 646464 */
  --sadcl: #3f3f3f;
}

body {
  background: var(--mainbg);
  color: var(--maincl);
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--maincl);
}

a:hover {
  text-decoration: none;
  color: var(--maincl);
}

hr { 
  background-color: var(--maindim);
  margin-top: 10px;
}

::-webkit-scrollbar{ 
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --mainbg: #161616;
    --maincl: white;
    --hover_cl: palegreen;
    --dimcl: #161616d7;
    --dimsmain: #ffffff3f;
    --maindim: #eaeaea;
    /* 646464 */
    --sadcl: #f4f4f4;
  }
}
